{% extends 'post/base.html' %}

{% block title %} {{ post.title }} {% endblock title %}

{% block content %}
  <main>
        <div class="row">
            <h2 class="text-center">Пост: {{ post.title }}</h2>
            <h2 class="text-center">Автор: {{ post.author }}</h2>
            <h4>
              <div>
                {% for tag in tags %}
                  {{ tag }}
                  
                {% endfor %}
              </div>
            </h4>
            <div class="content">
                {{ post.content }}
            </div>

            <h4>Кол-во лайков: {{ post.likes }}</h4>
            <form action="" method="POST">
                <button class="btn btn-default" type="submit">Поствить Лайк!</button>
            </form>
        </div>
    </main>
{% endblock content %}
