{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock title %}

{% block content %}
  <main>
        <div class="row">
            <h2 class="text-center">Пост: {{ post.title }}</h2>
            <h2 class="text-center">Автор: {{ post.author }}</h2>
            <h4>
              <div>
                {% for tag in tags %}
                  {{ tag }}
                {% endfor %}
              </div>
            </h4>
            <div class="content">
                {{ post.content }}
            </div>

            <h4>Кол-во лайков: {{ post.likes }}</h4>
            <form action="" method="POST"> {% csrf_token %}
                <button class="btn btn-default" type="submit">Поствить Лайк!</button>
            </form>
            <div class="list-group">
              {% for comment in comments %}
                <a href="#" class="list-group-item list-group-item-action active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.author.user.username }}</h5>
                    <small>{{ comment.author.priopity }}</small>
                  </div>
                  <p class="mb-1">{{ comment.content }}</p>
                  <small>{{ comment.likes }}</small>
                </a>
              {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}
